#  /etc/systemd/system/chinadns-ng.service
[Unit]
Description=ChinaDNS-NG Service
After=network-online.target

[Service]
Type=simple
DynamicUser=true
#nft持久化
ExecStartPre=/bin/bash /usr/local/bin/nft-start.sh
ExecStopPost=/bin/bash /usr/local/bin/nft-stop.sh
User=root
Group=root
ExecStart=/usr/local/bin/chinadns-ng -C /usr/local/etc/chinadns-ng.cfg

[Install]
WantedBy=multi-user.target
